:root {
  --backdrop-height: 500px;
}

.booking {
  display: flex;
  margin: 0 auto;
  height: 100%;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.booking-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--backdrop-height);
}

.booking .backdrop {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  top: 0;
  height: var(--backdrop-height);
}
