.booking-details {
  padding-top: 50px;
}

.booking-details__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  background-color: var(--primary-bg-color);
  border-radius: var(--border-radius);
  color: #fff;
  padding: 30px;
}

.booking-details__content li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.booking-details__content span {
  font-weight: bold;
}
