.booking-form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: var(--secondary-bg-color);
  padding: 20px;
  margin: auto;
  width: fit-content;
  border-radius: var(--border-radius);
}
